In [55]:
import pandas as pd
df2015 = pd.read_csv("2015-building-energy-benchmarking.csv", sep=',')

In [56]:
df2016 = pd.read_csv("2016-building-energy-benchmarking.csv", sep=',')

In [ ]:
# 2016 colonnes à supprimer : 
# 'Address'
# 'City'
# 'State'
# 'ZipCode'
# 'Latitude'
# 'Longitude'
# '2010 Census Tracts'
#  'Seattle Police Department Micro Community Policing Plan Areas'
#  'City Council Districts'
#  'SPD Beats'
#  'Zip Codes'

# Renommage 
# 'TotalGHGEmissions' >>> 'GHGEmissions(MetricTonsCO2e)'
# 'GHGEmissionsIntensity' >>>> 'GHGEmissionsIntensity(kgCO2e/ft2)'

In [57]:
df2016 = df2016.drop(columns=['Address', 'City', 'State', 'ZipCode', 'Latitude', 'Longitude'])
df2016 = df2016.drop(columns=['DefaultData', 'Comments', 'ComplianceStatus', 'Outlier'])
df2016 = df2016.rename(columns={'TotalGHGEmissions': 'GHGEmissions(MetricTonsCO2e)', 'GHGEmissionsIntensity': 'GHGEmissionsIntensity(kgCO2e/ft2)'})
#list(df2016.columns)

In [58]:
df2015 = df2015.drop(columns=['Location', 'OtherFuelUse(kBtu)', 'DefaultData', 'Comment'])
df2015 = df2015.drop(columns=['ComplianceStatus', 'Outlier', '2010 Census Tracts', 'Seattle Police Department Micro Community Policing Plan Areas'])
df2015 = df2015.drop(columns=['City Council Districts', 'SPD Beats', 'Zip Codes'])

In [59]:
len(df2015.columns)

36

In [60]:
len(df2016.columns)

36

In [61]:
dfReference = pd.concat([df2016,df2015], ignore_index=True)

In [62]:
dfReference.head(5)

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,TaxParcelIdentificationNumber,CouncilDistrictCode,Neighborhood,YearBuilt,NumberofBuildings,...,SourceEUIWN(kBtu/sf),SiteEnergyUse(kBtu),SiteEnergyUseWN(kBtu),SteamUse(kBtu),Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),GHGEmissions(MetricTonsCO2e),GHGEmissionsIntensity(kgCO2e/ft2)
0,1,2016,NonResidential,Hotel,Mayflower park hotel,0659000030,7,DOWNTOWN,1927,1.0,...,189.000000,7226362.5,7456910.0,2003882.00,1.156514e+06,3946027.0,12764.52930,1276453.0,249.98,2.83
1,2,2016,NonResidential,Hotel,Paramount Hotel,0659000220,7,DOWNTOWN,1996,1.0,...,179.399994,8387933.0,8664479.0,0.00,9.504252e+05,3242851.0,51450.81641,5145082.0,295.86,2.86
2,3,2016,NonResidential,Hotel,5673-The Westin Seattle,0659000475,7,DOWNTOWN,1969,1.0,...,244.100006,72587024.0,73937112.0,21566554.00,1.451544e+07,49526664.0,14938.00000,1493800.0,2089.28,2.19
3,5,2016,NonResidential,Hotel,HOTEL MAX,0659000640,7,DOWNTOWN,1926,1.0,...,224.000000,6794584.0,6946800.5,2214446.25,8.115253e+05,2768924.0,18112.13086,1811213.0,286.43,4.67
4,8,2016,NonResidential,Hotel,WARWICK SEATTLE HOTEL (ID8),0659000970,7,DOWNTOWN,1980,1.0,...,215.600006,14172606.0,14656503.0,0.00,1.573449e+06,5368607.0,88039.98438,8803998.0,505.01,2.88

In [63]:
dfReference.shape

(6716, 36)

In [64]:
dfReferenceFilter = dfReference[dfReference['BuildingType'].str.contains("NonResidential")]

In [65]:
dfReferenceFilter.shape

(2921, 36)

In [66]:
dfNoduplicates = dfReferenceFilter.drop_duplicates(
    subset=['OSEBuildingID'], keep="first")

In [67]:
dfNoduplicates.shape

(1488, 36)

In [68]:
dfNoduplicates.to_csv('df_P3_cleaned.csv')